# SoftDes Midterm Yay

In [1]:
import pandas

In [8]:
nasa_astronaut_dataset = pandas.read_csv("NASA_astronauts.csv")
print (nasa_astronaut_dataset.head(10)) #First 10 rows

                  Name    Year  Group   Status  Birth Date  \
0      Joseph M. Acaba  2004.0   19.0   Active   5/17/1967
1       Loren W. Acton     NaN    NaN  Retired    3/7/1936
2     James C. Adamson  1984.0   10.0  Retired    3/3/1946
3      Thomas D. Akers  1987.0   12.0  Retired   5/20/1951
4          Buzz Aldrin  1963.0    3.0  Retired   1/20/1930
5      Andrew M. Allen  1987.0   12.0  Retired    8/4/1955
6      Joseph P. Allen  1967.0    6.0  Retired   6/27/1937
7      Scott D. Altman  1995.0   15.0  Retired   8/15/1959
8    William A. Anders  1963.0    3.0  Retired  10/17/1933
9  Clayton C. Anderson  1998.0   17.0  Retired   2/23/1959

           Birth Place Gender  \
0        Inglewood, CA   Male
1         Lewiston, MT   Male
2           Warsaw, NY   Male
3        St. Louis, MO   Male
4        Montclair, NJ   Male
5     Philadelphia, PA   Male
6  Crawsfordsville, IN   Male
7          Lincoln, IL   Male
8            Hong Kong   Male
9            Omaha, NE   Male

                                          Alma Mater  \
0  University of California-Santa Barbara; Univer...
1   Montana State University; University of Colorado
2          US Military Academy; Princeton University
3                       University of Missouri-Rolla
4                           US Military Academy; MIT
5        Villanova University; University of Florida
6                 DePauw University; Yale University
7  University of Illinois; US Naval Postgraduate ...
8  US Naval Academy; Air Force Institute of Techn...
9            Hastings College; Iowa State University

                        Undergraduate Major            Graduate Major  \
0                                   Geology                   Geology
1                       Engineering Physics             Solar Physics
2                               Engineering     Aerospace Engineering
3                       Applied Mathematics       Applied Mathematics
4                    Mechanical Engineering              Astronautics
5                    Mechanical Engineering   Business Administration
6                     Mathematics & Physics                   Physics
7  Aeronautical & Astronautical Engineering  Aeronautical Engineering
8                       Nuclear Engineering       Nuclear Engineering
9                                   Physics     Aerospace Engineering

        Military Rank                  Military Branch  Space Flights  \
0                 NaN                              NaN              2
1                 NaN                              NaN              1
2             Colonel                US Army (Retired)              2
3             Colonel           US Air Force (Retired)              4
4             Colonel           US Air Force (Retired)              2
5  Lieutenant Colonel        US Marine Corps (Retired)              3
6                 NaN                              NaN              2
7             Captain                US Navy (Retired)              4
8       Major General  US Air Force Reserves (Retired)              1
9                 NaN                              NaN              2

   Space Flight (hr)  Space Walks  Space Walks (hr)  \
0               3307            2              13.0
1                190            0               0.0
2                334            0               0.0
3                814            4              29.0
4                289            2               8.0
5                906            0               0.0
6                313            2              12.0
7               1236            0               0.0
8                147            0               0.0
9               4005            6              38.0

                                            Missions Death Date Death Mission
0             STS-119 (Discovery), ISS-31/32 (Soyuz)        NaN           NaN
1                              STS 51-F (Challenger)        NaN           NaN
2               STS-28 (Columbia), STS-43 (Atlantis)        NaN           NaN
3  STS-41 (Discovery), STS-49 (Endeavor), STS-61 ...        NaN           NaN
4                               Gemini 12, Apollo 11        NaN           NaN
5  STS-46 (Atlantis), STS-62 (Columbia), STS-75 (...        NaN           NaN
6              ST-5 (Columbia), STS 51-A (Discovery)        NaN           NaN
7  STS-90 (Columbia), STS-106 (Atlantis), STS-109...        NaN           NaN
8                                           Apollo 8        NaN           NaN
9  STS-117/120 (Atlantis/Discovery), STS-131 (Dis...        NaN           NaN

In [16]:
#Example: finding astronaut with most flight hours 
row = nasa_astronaut_dataset["Space Flight (hr)"].idxmax()
astronaut = nasa_astronaut_dataset["Name"][row]
hours = nasa_astronaut_dataset["Space Flight (hr)"][row]

print(f"{astronaut} has the most flight hours with a total of {hours} hours.")

Jeffrey N. Williams has the most flight hours with a total of 12818 hours.

In [9]:
all_astronaut_dataset = pandas.read_csv("all_astronauts.csv")
print (all_astronaut_dataset.head(10)) #First 10 rows

   ID  Number  Nationwide number                     Name  \
0   1     1.0                1.0            Gagarin, Yuri
1   2     2.0                2.0           Titov, Gherman
2   3     3.0                1.0      Glenn, John H., Jr.
3   4     3.0                1.0      Glenn, John H., Jr.
4   5     4.0                2.0      Carpenter, M. Scott
5   6     5.0                2.0      Nikolayev, Andriyan
6   7     5.0                2.0      Nikolayev, Andriyan
7   8     6.0                4.0          Popovich, Pavel
8   9     6.0                4.0          Popovich, Pavel
9  10     7.0                3.0  Schirra, Walter M., Jr.

                  Original name Sex  Year of birth     Nationality  \
0       ГАГАРИН Юрий Алексеевич   M         1934.0  U.S.S.R/Russia
1       ТИТОВ Герман Степанович   M         1935.0  U.S.S.R/Russia
2           Glenn, John H., Jr.   M         1921.0            U.S.
3           Glenn, John H., Jr.   M         1921.0            U.S.
4           Carpenter, M. Scott   M         1925.0            U.S.
5  НИКОЛАЕВ Андриян Григорьевич   M         1929.0  U.S.S.R/Russia
6  НИКОЛАЕВ Андриян Григорьевич   M         1929.0  U.S.S.R/Russia
7       ПОПОВИЧ Павел Романович   M         1930.0  U.S.S.R/Russia
8       ПОПОВИЧ Павел Романович   M         1930.0  U.S.S.R/Russia
9       Schirra, Walter M., Jr.   M         1923.0            U.S.

  Military/Civilian               Selection  ...  Year of mission  \
0               Mil                  TsPK-1  ...           1961.0
1               Mil                  TsPK-1  ...           1961.0
2               Mil  NASA Astronaut Group 1  ...           1962.0
3               Mil  NASA Astronaut Group 2  ...           1998.0
4               Mil                 NASA- 1  ...           1962.0
5               Mil                  TsPK-1  ...           1962.0
6               Mil                  TsPK-2  ...           1970.0
7               Mil                  TsPK-1  ...           1962.0
8               Mil                  TsPK-2  ...           1974.0
9               Mil       1959 NASA group 1  ...           1962.0

     Mission title   Ascend shuttle         In orbit  Descend shuttle  \
0         Vostok 1         Vostok 1         Vostok 2         Vostok 3
1         Vostok 2         Vostok 2         Vostok 2         Vostok 2
2             MA-6             MA-6             MA-6             MA-6
3           STS-95           STS-95           STS-95           STS-95
4  Mercury-Atlas 7  Mercury-Atlas 7  Mercury-Atlas 7  Mercury-Atlas 7
5         Vostok 3         Vostok 3         Vostok 3         Vostok 3
6          Soyuz 9          Soyuz 9          Soyuz 9          Soyuz 9
7         Vostok 4         Vostok 4         Vostok 4         Vostok 4
8         Soyuz 14         Soyuz 14         Soyuz 14         Soyuz 14
9  Mercury-Atlas 8  Mercury-Atlas 8  Mercury-Atlas 8  Mercury-Atlas 8

  Hours/mission Total hrs (sum) Field21 EVA hrs/mission  Total EVA hrs
0          1.77            1.77     0.0             0.0            0.0
1         25.00           25.30     0.0             0.0            0.0
2          5.00          218.00     0.0             0.0            0.0
3        213.00          218.00     0.0             0.0            0.0
4          5.00            5.00     0.0             0.0            0.0
5         94.00          519.33     0.0             0.0            0.0
6        424.00          519.33     0.0             0.0            0.0
7         70.93          448.45     0.0             0.0            0.0
8        377.00          448.45     0.0             0.0            0.0
9          9.22          295.20     0.0             0.0            0.0

[10 rows x 24 columns]